<form method="post" action="{{ path('skills.delete', {'id': skill.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cette compétence ?');" >
    {# <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ skill.id) }}"> #}
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="btn btn-danger btn-sm"> Supprimer </button>
</form>

