<footer>
	<div class="container">
		<div class="row">

			<div class="col-md-4">
				<div class="footer_1">
					<p>
						<span> NOUS SUIVRE </span>
					</p>

					<p> 
						<ul class="social-links circle small clearfix">
							<li> <a target="_blank" href="https://twitter.com/SsiiTeam2i"> <i class="fa-brands fa-twitter fa-lg"></i> </a>  </li>
							<li> <a target="_blank" href="https://plus.google.com/u/0/108967546822484971738"> <i class="fa-brands  fa-google-plus fa-lg"></i> </a>  </li>
							<li> <a target="_blank" href="https://www.facebook.com/TEAM2i-158173288274301"> <i class="fa-brands fa-facebook fa-lg"></i> </a>  </li>
							<li> <a target="_blank" href="http://team2i.over-blog.com"> <i class="fa-brands fa-btc fa-lg"></i></a>  </li>
							<li> <a target="_blank" href="https://www.linkedin.com/in/philippe-roche-71698b2"> <i class="fa-brands fa-linkedin fa-lg"></i> </a>  </li>
							<li> <a target="_blank" href="https://www.youtube.com/channel/UC02NmPF5K8an9meZIPAuKaQ"> <i class="fa-brands fa-youtube fa-lg"></i> </a>  </li>
						</ul>
					</p>
					
				</div>
			</div>

			<div class="col-md-4">
				<div class="footer_1">
					<p>
						<span> A PROPOS DE NOUS </span>
					</p>

					<p> 
						<ul class="info_team2i">
							<li> <a  href="/"> Qui sommes-nous ? </a>  </li>
							<li> <a  href="/"> Offres d'emploi </a>  </li>
							<li> <a  href="/"> Contact </a>  </li>
						</ul>
					</p>

				</div>
			</div>

			<div class="col-md-4">
				<div class="footer_1">
					<p>
						<span> Pour contacter TEAM2i </span>
					</p>

					<p>
						Coordonnées téléphoniques :
						<br>
						<a href="tel:+33145678494" class="btn btn-lg btn-default-transparent btn-animated " style="color:#fff">01 45 67 84 94
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-forward" viewbox="0 0 16 16">
								<path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877zm10.762.135a.5.5 0 0 1 .708 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 0 1-.708-.708L14.293 4H9.5a.5.5 0 0 1 0-1h4.793l-1.647-1.646a.5.5 0 0 1 0-.708"/>
							</svg>
						</a>
						<br> <br>
						Adresse :
						<br>
						53 rue Bargue 75015 Paris - France
					</p>
				</div>
			</div>

			{# <div class="col-md-3">
				<div class="footer_1">
					<p>
						<span> S'abonner à LA NEWSLETTER </span>
					</p>

					<p>
						Une fois par mois, des histoires, des jobs et des conseils dans votre boite mail.
					</p>

					<p>
						<form action="" id="newsletter">
							<input class="form-control me-2 btn-outline-success" type="email" placeholder="Email">
							<button class="btn btn-success" type="submit">  
								S'abonner
							</button>
						</form>
					</p>
					<p>
						Vous pouvez vous désabonner à tout moment. On n'est pas susceptibles, promis. Pour en savoir plus sur notre politique de protection des données, 
						<a href="/">cliquez-ici. </a>
					</p>
				</div>
			</div> #}

		</div>
	</div>
</footer>
