<footer>
	<div class="container">
		<div class="row">

			<div class="col-md-3">
				<div class="footer_1">
					<p>
						<span> LES RESEAUX TEAM2I</span>
					</p>
				</div>
			</div>

			<div class="col-md-3">
				<div class="footer_1">
					<p>
						<span> A PROPOS</span>
					</p>
				</div>
			</div>

			<div class="col-md-3">
				<div class="footer_1">
					<p>
						<span> Pour contacter TEAM2i</span>
					</p>
				</div>
			</div>

			<div class="col-md-3">
				<div class="footer_1">
					<p>
						<span> LA NEWSLETTER QUI FAIT LE TAF</span>
					</p>
				</div>
			</div>

		</div>
	</div>
</footer>
