<div class="container">
	<nav class="navbar nav-underline navbar-expand-lg bg-body-white">
		<div class="container-fluid">
			<a href="{{ path('app_index') }}" class="navbar-brand">
				<img src="{{ asset('assets/images/logo.jpg') }}" alt="logo Team2i">
			</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Dropdown
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="#">Action</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Another action</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item" href="#">Something else here</a>
							</li>
						</ul>
					</li>
				</ul>
				
				<div class="d-flex" id="inscription">
					<a class="nav-link " href="{{ path('app_index') }}">
						Connexion
					</a>
					<a class="nav-link " href="{{ path('app_index') }}">Inscription
					</a>
				</div>
			</div>
		</div>
	</nav>
</div>
