{% extends 'base.html.twig' %}

{% block title %} Mentions légales{% endblock %}

{% block body %}
<div class="container">
    <h1> TEAM2I </h1>

    <div>
        <p>
            Une place de marché informatique en chair et en os ! <br>
            Historique : Team2i existe depuis 1998.  <br>
            Notre ancienneté : 19 ans depuis sa création nous confère une solide expérience dans le monde de la sous-traitance informatique. <br>

            Team2i est une société de mise en relation entre demandeurs de compétences (clients finaux ou SSII) et offreurs de compétences (freelances ou SSII). <br>

            Spécificité de Team2i : <br>
            En cas de crise financière mondiale (pire que celle de 2008) Team2i sera la dernière SSII à rester en vie du fait de l’absence de frais fixes et d’inter-contrats. <br>

            Vous serez notre Client final ! Voici pourquoi ! <br>
            L’avantage de travailler avec des freelances est d’avoir la certitude qu’il soit compétent et motivé : <br>

            Compétent car, sinon, il ne trouve rapidement plus de missions et redevient salarié ! <br>
            Motivé car il ne gagne rien s’il ne travaille pas ! <br>

            Les SSII connaissent de toute manière Team2i et font systématiquement appel à nous pour du resourcing. Elles font en effet appel à Team2i pour trouver les compétences informatiques qu’elles ne trouvent pas toutes seules. C’est pourquoi il vous sera plus rapide et moins cher de contacter directement Team2i. <br>

            Rencontrons-nous : Vous n’avez pas encore de projet informatique ? Mieux vaut anticiper les recherches sur des ressources rares voire exceptionnelles. <br>
            Un projet informatique en vue ? Team2i peut venir vous voir afin de faire connaissance pour que vous sachiez à qui vous allez confier vos projets informatiques d’aujourd’hui et de demain.
        </p>
    </div>
    
</div>
{% endblock %}
