{% extends 'base.html.twig' %}

{% block title  "Modification du mot de passe"%}
	
{% block body %}
	<main role="main">

		<section class="jumbotron text-center bg-light pt-4 pb-4">
			<div class="container">
				<h1 class="jumbotron-heading"> Modifier son mot de passe </h1>
			</div>
		</section>

		<div class="album bg-white">
			<div class="container">
				<div class="row">
					<div class="col-md-6 mx-auto">
						{{ form_start(form) }}
							
							{{ form_widget(form) }}
							<p>
								<small>
									Votre mot de passe doit faire entre 8 et 20 caractères et contenir : </br>
									Au moins une majuscule </br>
									Au moins une minuscule </br>
									Au moins un chiffre </br>
									Au moins un caractère spécial : #?!@$%^&*- .
								</small>
							</P>
							<div class="row">
								<button class="btn btn-lg btn-primary btn-block mb-5" type="submit">
									Modifier
								</button>
							</div>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>

	</main>
	
{% endblock %}
