{% extends 'base.html.twig' %}

{% block title  "Modification du mot de passe"%}
	
{% block body %}
	<main role="main">

		<section class="jumbotron text-center bg-light pt-4 pb-4">
			<div class="container">
				<h1 class="jumbotron-heading"> Modifier son mot de passe </h1>
			</div>
		</section>

		<div class="album bg-white">
			<div class="container">
				<div class="row">
					<div class="col-md-6 mx-auto">
						{{ form_start(form) }}
							
							{{ form_widget(form) }}

							<button type="submit" class="btn btn-primary btn-lg btn-block">Modifier</button>
						
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>

	</main>
	
{% endblock %}
