{% extends 'base.html.twig' %}

{% block title %}
	Modification du mot de passe
{% endblock %}

{% block body %}
	<div class="container">

		<div class="row">
			<div class="col-md-6 mx-auto">
				<h1 class="text-center my-4"> Modifier son mot de passe </h1>

				{{ form_start(form) }}
					
					{{ form_widget(form) }}

					<button type="submit" class="btn btn-primary btn-lg btn-block">Modifier</button>
				
				{{ form_end(form) }}
			</div>
		</div>

	</div>
{% endblock %}
