{% extends 'base.html.twig' %}

{% block title %}
	Mentions légales
{% endblock %}

{% block body %}
	<div class="container">
		<h1>
			INFORMATIONS LÉGALES
		</h1>

		<div>
			<p>
				<strong>EDITEUR DU SITE :</strong><br/>
				TEAM2I<br/>
				53 rue Bargue 75015 Paris - France<br/>
				RCS PARIS B 420 124 844<BR>
				T&eacute;l. : +33 (0) 1 45 67 84 94
				<br/>

			</p>

			<p align="justify">
				<strong>DIRECTEUR DE LA PUBLICATION :
				</strong>Philippe ROCHE<br/>
				<strong>CONCEPTEUR DU SITE :
				</strong>
				<a href="http://www.autourdunet.fr">Autour du Net</a><br/>
				<strong>HEBERGEUR DU SITE :</strong>
				Autour Du Net via Syntis<br/>
				<br/>
				Les informations que vous saisissez dans les diff&eacute;rents formulaires ou liens email, sont destin&eacute;es &agrave; l'&eacute;diteur . Vous disposez d'un droit d'acc&egrave;s, de modification, de rectification et de suppression des donn&eacute;es qui vous concernent (art.34 de la loi &quot;Informatique et Libert&eacute;s&quot;).<br/>
				Pour l'exercer, adressez vous &agrave; l'&eacute;diteur de ce site.<br/>
				<br/>
				<strong>INFORMATIONS :</strong><br/>
				L'&eacute;diteur d&eacute;cline toute responsabilit&eacute; quant &agrave; l'utilisation des informations fournies sur ce site. Les informations fournies ne le sont qu'&agrave; titre indicatif et sont donn&eacute;es gracieusement sans garantie. Aucune responsabilit&eacute; de quelque ordre que ce soit ne sera accept&eacute;e. Le site est mis &agrave; jour r&eacute;guli&egrave;rement et il ne peut donc pas &ecirc;tre garanti que les informations sur le site soient les derni&egrave;res qui aient &eacute;t&eacute; collect&eacute;es.<br/>
				<br/>
				<strong>ACCES AU SITE :</strong><br/>
				L'&eacute;diteur ne peut garantir que le site sera en permanence en ligne ; La soci&eacute;t&eacute; s'accorde le droit , &agrave; sa compl&egrave;te discr&eacute;tion , de suspendre l'acc&eacute;s de tout ou partie du contenu du site.<br/>
				<br/>
				<strong>LIENS AVEC D'AUTRES SITES :</strong><br/>
				Le site propose des liens vers d'autres sites Web de tierces parties s&eacute;lectionn&eacute;s pour leur int&eacute;ret. Ces liens sont propos&eacute;s pour l'agr&eacute;ment des visiteurs seulement et l'&eacute;diteur ne prend aucune responsabilit&eacute; quant &agrave; l'utilisation ou aux cons&eacute;quences qui pourraient d&eacute;couler de la connection. L'&eacute;diteur a pris des pr&eacute;cautions raisonnables pour sa protection contre des virus informatiques mais ne peut garantir que ce site ou tout autre site en lien soit compl&eacute;tement s&eacute;curis&eacute; de tous les virus ou de tout autre dommage qui pourrait endommag&eacute; les syst&eacute;mes des visiteurs. Les visiteurs doivent s'assurer auparavant qu'ils sont eux m&ecirc;mes suffisamment prot&eacute;g&eacute;s par leurs propres logicels de protection.<br/>
				<br/>
				<strong>COPYRIGHT :</strong><br/>
				Le contenu du site est propos&eacute; pour un usage priv&eacute; du visiteur et aucune partie de son contenu ne doit &ecirc;tre redistribu&eacute;e, republi&eacute;e ou stock&eacute;e sous quelque format que ce soit sans l'autorisation expresse de l'&eacute;diteur. Tout le contenu du site reste la propri&eacute;t&eacute; de l'&eacute;diteur.<br/>
				<br/>
				<strong>LOI ET JURIDICTION :</strong><br/>
				L'&eacute;diteur de ce site d&eacute;pent du droit Fran&ccedil;ais. Tout sujet concernant ce site est r&eacute;gi par la loi Fran&ccedil;aise sous juridiction d'un tribunal fran&ccedil;ais . Bien que ce site soit accessible en dehors du territoire fran&ccedil;ais, tout visiteur est responsable de son utilisation en accord avec les lois et r&eacute;glementations fran&ccedil;aises et celles de son pays incluant, mais non limit&eacute;s, aux chargements informatiques d'informations.
			</p>
        </div>

	</div>
{% endblock %}
