body {}

.container {
    max-width: 1140px;
}

.navbar-brand{
    /* margin-right: 0%; */
}

.navbar {
    text-transform: uppercase;
}

.navbar-brand img{
    width: 60%;
}

.nav-link:focus, .nav-link:hover {
    color: #24a828;
}

.connexion h1{
    text-transform: uppercase;
    text-align: center;
}

#search_offre{
    width: 70%;
}

input[type=search] {
    width: 70%;
}

#inscription a {
    margin: 0 5px;
}
.navbar-nav .nav-link.active{
    color: #24a828;
}

h1.jumbotron-heading{
    text-transform: uppercase;
}


/************************ Footer *************************/

footer{
    padding: 3rem 0px;
    background-color: #222222;
    color: #fff;
}

footer p{
    font-size: 15px;
}

footer .footer_1 p>span{
    text-transform: uppercase;
    border-bottom: 1px solid;
    color: #fff;
}

footer .footer_1 p{
    color: rgb(189, 189, 189) ;
}

.footer_contact button {
    background-color: transparent;
    border-color: #24a828 ;
}

.btn-default-transparent{
    background-color: transparent;
    border-color: #24a828 ;
}

.btn-default-transparent:hover{
    background-color: #24a828 ;
    border-color: #24a828 ;
}

.footer_1 li a:hover, .social-links.small li a i:hover {
    color: #24a828 ;
}

.social-links {
    list-style: none;
    font-size: 0;
    padding-left: 0;
}

.clearfix:before{
    display: table;
    content: " ";
}

.social-links li {
    display: inline-block; 
    margin: 0 5px 5px 0;
    color: rgb(189, 189, 189) ;
}

.social-links.small li a {
    width: 30px;
    height: 30px;
    font-size: 15px;
    color: rgb(189, 189, 189) ;
    display: block;
}

.social-links.small li a i {
    line-height: 29px ;
    color: #fff ;
}

.info_team2i{
    list-style: none;
    font-size: 0;
    padding-left: 0;
}

.info_team2i li a{
    font-size: 15px;
    color: rgb(189, 189, 189) ;
    text-decoration: none;
}

#newsletter input[type=email]{
    margin-bottom: 5px;
} 

#newsletter button{
    width: 100%;
}

/* Smartphones (portrait) */
@media(max-width: 320px) {
    #navbarSupportedContent div#inscription {
        display: block !important ;
    }
}

/* iPads (portrait and landscape)  */
@media(min-device-width: 768px) and (max-device-width: 1024px) {
    #navbarSupportedContent div#inscription {
        display: block !important;
    }
}

/**************************** new */

.info_mission{
    padding: 10px;
    background-color: rgb(249 250 251);
}

.info_mission_show span{
    display: block;
    margin-bottom: 4px;
}

.sticky {
    position: sticky;
}

.mission-bg{
    background-color: lightgrey;
    height: 160px;
}

.lien_mission{
    text-decoration: none;
    color: #000;
    display: block;
}

.lien_mission span{
    margin-bottom: 1rem;
    display: block;
    text-transform: uppercase;
}

.badge {
    /* display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem; */
    background-color: black;
}

.logo_client img{
    width: 150px;
    margin-right: 5px;
}

.card-text a{
    text-decoration: none;
    color: #000;
}

.px{
    padding-left: 15px;
    padding-right: 15px;
}

h1.font-bold {
    font-weight: 700;
    font-size: inherit;
    font-weight: inherit;
}

h1.text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
}

h2.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

h2.font-semibold{
    font-weight: 600;
}


.entreprise{
    width: 50%;
}

.marketing .col-lg-4, .marketing .col-lg-6 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing .col-lg-6 p svg{
    width: 125px;
}

.marketing p, .marketing h1{
    text-align: center;
}

.marketing h2 a{
    font-weight: 400 !important;
    color: #000;
    font-size: 2rem;
    text-decoration: none;
}

.marketing h2 a:hover{
    text-decoration: underline;
}

.connexion{
    background-color: #F8F9FA;
}

/***** page des offres  ***/
h4.titre_offre {
    border-bottom: 1px solid;
}

a.lien_offre:hover{
    background-color: #24a828;
}

small.nom_client{
    margin: 3px 0px;
    display: block;
    font-style: italic;
}

/** Page article **/
.breadcrumb__item:after {
    border-right: .1em solid #24a828;
    content: "";
    display: inline-block;
    height: .85em;
    margin: 0 12px;
    position: relative;
    top: 2px;
    transform: rotate(165deg);
}

.titre-offre{
    color: rgb(0, 0, 0);
    font-family: welcome-font, sans-serif;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.5rem;
    letter-spacing: -0.0625rem;
}

.breadcrumb a {
    color: #000;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: #24a828;
}

.breadcrumb>span {
    color: #9ca3af;
    scroll-snap-align: end;
}

.info-offre{
    background-color: rgb(246, 243, 239);
    padding: 1.5rem;
}

.info-offre>h3{
    color: rgb(0, 0, 0);
    font-family: welcome-font, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1rem;
    letter-spacing: -0.05625rem;
}
