<div class="container">
    <h1>Confirmation de votre e-mail</h1>

    <p>Bonjour {{ user.email }},</p>

    <p>Merci de vous être inscrit. Veuillez cliquer sur le lien ci-dessous pour confirmer votre adresse e-mail :</p>

    <p><a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a></p>

    <p>Si vous n’avez pas demandé cette inscription, vous pouvez ignorer ce message.</p>
</div>
